.chooserComponent {
    padding: 20px;
    justify-content: space-between;
}

.chooserButtons {
    border-radius: 15px;
    margin-right: 5px;
}

.selectedCourses {
    margin-left: 20px;
    margin: 10px;
}