.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    /* width:100%; */
    gap: 20px;
  }

  /* .cards{
    height:100%;
    width:100%;
    border: 3px solid #000000;
    border-radius: 20px;
  } */
  
  .row-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    width: 100%; 
    flex-wrap: nowrap; /
  }
  
  .row-item {
    flex-basis: 24%;
    margin: 0 5px; 
    background-color: lightgray;
    padding: 10px;
    text-align: center;
  }
  